* {
  box-sizing: border-box;
}

body {
  background-image: url("https://user-images.githubusercontent.com/66992901/198218680-01a4bf79-49e0-4ca5-b5a4-363c351466a5.png");
  background-repeat: no-repeat;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.time {
  font-weight: bold;
  font-size: 15px;
  padding: 20px;
}

.header i {
  margin-left: 300px;
  width: 24px;
  color: blue;
}

.logo {
  width: 76px;
  height: 20px;
  font-style: normal;
  display: flex;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  margin-left: 15px;
  margin-top: 50px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.nav i {
  width: 40px;
  margin-left: 400px;
  color: black;
}

.mariane {
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left: 70px;
  font-style: normal;
  font-size: 40px;
  color: #172b4d;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.text {
  color: #344563;
  margin-left: 70px;
  margin-top: 10px;
}

.cap {
  color: #7f8cff;
  font-size: 16px;
  margin-left: 70px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.img {
  font-size: 18px;
  margin-left: 22px;
  margin-top: 1px;
}

ul {
  list-style-type: none;
}

li {
  float: left;
  }

.img i {
  color: grey;
  padding: 10px;
}

a :visited {
  color: red;
}

a :hover {
  color: greenyellow;
}

a :active {
  color: orange;
}

button:hover {
  color: rgb(241, 8, 86);
}

button:disabled {
  color: maroon;
}

button:active {
  color: rgb(209, 230, 23);
}

.button :visited {
  color: mediumseagreen;
}

.button :hover {
  color: pink;
}
