* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Poppins';
  src: url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
}

body {
  background-image: url("https://user-images.githubusercontent.com/66992901/198218680-01a4bf79-49e0-4ca5-b5a4-363c351466a5.png");
  background-repeat: no-repeat;
}

.item2{
  position: relative;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.time {
  font-weight: bold;
  font-size: 15px;
  padding: 20px;
}

.header i {
  margin-left: 200px;
  width: 24px;
  color: blue;
}

.logo {
  width: 76px;
  height: 20px;
  font-style: normal;
  display: flex;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  margin-left: 15px;
  margin-top: 50px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.nav i {
  width: 40px;
  margin-left: 400px;
  color: black;
}
.button{
  margin-left: 70px;
}

.mariane {
  margin-top: 80px;
  margin-bottom: 10px;
  margin-left: 70px;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 40px;
  color: #172b4d;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.text {
  color: #344563;
  margin-left: 70px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Poppins';
  flex: none;
  order: 1;
  flex-grow: 0;
}

.cap {
  color: #7f8cff;
  font-family: 'Poppins';
  font-size: 16px;
  margin-left: 70px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

ul {
  list-style-type: none;
  
}

li i{
  float: left;
  color: grey;
  font-family: 'Poppins';
  width: 19.99px;
  height: 19.96px;
  top: 470px;
  padding: 1px;
  margin-top:2px;
  margin-left: 25px;
  }



a :visited {
  color: red;
}

a :hover {
  color: greenyellow;
}

a :active {
  color: orange;
}

button:hover {
  color: rgb(241, 8, 86);
}

button:disabled {
  color: maroon;
}

button:active {
  color: rgb(209, 230, 23);
}

.button :visited {
  color: mediumseagreen;
}

.button :hover {
  color: pink;
}
